* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
}
body {
  height: 100vh;
  padding: 25px;
}
#world-container {
  width: 100%;
  height: 100%;
}
#world-canvas {
  border-radius: 20px;
}
